```
if condition:
    action statement
```

bisa jalan jika condition == True

In [1]:
if True:
    print("Code ini jalan")

Code ini jalan

In [2]:
if False:
    print("Code ini ga jalan")

In [7]:
if "saya" in "Saya mau makan":
    print("iya, makan")

In [26]:
x = 5
y = 0

if x > y:
    print("jalan 1")

if x < y:
    print("jalan 2")

# Kalo bukan 0, angka itu dinilai True
if x:
    print("jalan 3")

if y:
    print("jalan 4")

if y != 0:
    print("jalan 4.5")

# kalo ada string, dinilai True
# kalo empty string, dinilai False
if "":
    print("jalan 5")

if "ada":
    print("jalan 6")

jalan 1
jalan 3
jalan 6

In [72]:
if False:
    print("ga jalan")

    print("code block di dalem if")
print("code di luar if")

code di luar if

In [78]:
# code block bisa nested
if True:
    print("jalan 1")
    if True:
        print("jalan 2")

jalan 1
jalan 2

In [83]:
if "foo" in ["foo", "bar", "baz"]:
    print("outer cond benar")  # jalan

    if 10 > 20:
        print("inner cond 1")  # ga jalan

    if 10 < 20:
        print("inner cond 2")  # jalan

        if "o" in "foo":
            print("inner cond lv 2")  # jalan

    print("outer cond selesai")  # jalan

print("di luar cond")  # jalan

outer cond benar
inner cond 2
inner cond lv 2
outer cond selesai
di luar cond

In [88]:
if True:
    print("cond 1")
else:
    print("alternatif 1")
print("langsung ke sini")

cond 1
langsung ke sini

In [86]:
if False:
    print("cond 1")
else:
    print("alternatif 1")

alternatif 1

In [91]:
x = 20

if x < 50:
    print("(first suite)")
    print("x is small")
else:
    print("(second suite)")
    print("x is large")

(first suite)
x is small

In [90]:
x = 60

if x < 50:
    print("(first suite)")
    print("x is small")
else:
    print("(second suite)")
    print("x is large")

(second suite)
x is large

In [92]:
harga_buku = 20000
harga_majalah = 5000
uang = 2000

if uang > harga_buku:
    print("beli buku")
else:
    print("uang ga cukup")

uang ga cukup

In [97]:
harga_buku = 20000
harga_majalah = 5000
uang = 1000

if uang > harga_buku:
    print("beli buku")
elif uang > harga_majalah:
    print("beli majalah")
else:
    print("uang ga cukup")
print("selalu jalan")

uang ga cukup
selalu jalan

In [107]:
if "a" in "bar":  # True
    print("foo");
elif 1/0:
    print("ga jalan");
elif var:
    print("ga jalan");

foo

In [109]:
if True: print("cond 1"); print("cond 2");

cond 1
cond 2

In [112]:
if "f" in "foo": print("1"); print("2"); print("3")

1
2
3

In [113]:
if "z" in "foo": print("1"); print("2"); print("3")

In [120]:
if False: print("alternatif 1")
elif False: print("alternatif 2")
else: print("alternatif 3")

alternatif 3

In [123]:
x = 2
if x == 1: print("alternatif 1.1"); print("alternatif 1.2"); print("alternatif 1.3")
elif x == 2: print("alternatif 2.1"); print("alternatif 2.2")
else: print("alternatif 3")

alternatif 2.1
alternatif 2.2

In [124]:
x = 2
if x == 1:
    print("alternatif 1.1")
    print("alternatif 1.2")
    print("alternatif 1.3")
elif x == 2:
    print("alternatif 2.1")
    print("alternatif 2.2")
else:
    print("alternatif 3")

alternatif 2.1
alternatif 2.2

## Ternary

In [128]:
raining = False
print("Let's go to the", "beach" if not raining else "library")

Let's go to the beach

In [129]:
raining = True
print("Let's go to the", "beach" if not raining else "library")

Let's go to the library

In [132]:
"a" if False else "b"

'b'

In [133]:
age = 12
s = "teen" if age < 21 else "adult"
s

'teen'

In [134]:
age = 24
s = "teen" if age < 21 else "adult"
s

'adult'

In [136]:
age = 12
if age < 21:
    s = "teen"
else:
    s = "adult"
s

'teen'

## Pass

In [137]:
if True:
    print("cond 1")

cond 1

In [141]:
if True:
    pass  # ga ngapa2in
print("foo")

foo

## While loop

In [143]:
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

1
2
3
4
5
6
7
8
9
10

In [148]:
n = 5
while n > 0:
    print("terus")
    n -= 1
    print(n)

terus
4
terus
3
terus
2
terus
1
terus
0

In [150]:
n = 1
while n < 11:
    print(n)
    n += 1
print("stop")

1
2
3
4
5
6
7
8
9
10
stop

## Break and Continue

In [153]:
while True:
    print("di dalem while")
    break
print("di luar while")

di dalem while
di luar while

In [168]:
n = 0
while n < 5:
    n += 1
    print(n)
print("n terakhir", n)
print("stop")

1
2
3
4
5
n terakhir 5
stop

In [169]:
n = 0
while n < 5:
    n += 1
    if n == 3:
        break
    print(n)
print("n terakhir", n)
print("stop")

1
2
n terakhir 3
stop

In [170]:
n = 0
while n < 5:
    n += 1
    if n == 3:
        continue
    print(n)
print("n terakhir", n)
print("stop")

1
2
4
5
n terakhir 5
stop

In [171]:
n = 0
while True:
    n+=1
    if n == 5:
        break
    print(n)
print("n terakhir", n)
print("stop")

1
2
3
4
n terakhir 5
stop

In [176]:
n = 0
while n < 5:
    n += 1
    print(n)
else:
    print("stop")

1
2
3
4
5
stop

In [180]:
n = 0
while n < 5:
    n += 1
    if n == 3:
        break
    print(n)
else:
    print("stop")

1
2

## Truthy and Falsy

In [192]:
print(bool(True))
print(bool(False))

print("=" * 8)

print(bool("a"))
print(bool(""))

print("=" * 8)

print(bool(5))
print(bool(0))

print("=" * 8)

print(bool(["a", "b"]))
print(bool([]))

print("=" * 8)

print(bool(None))

True
False
========
True
False
========
True
False
========
True
False
========
False

In [197]:
a = ["foo", "bar"]
print(a)
print(a.pop())
print(a)

['foo', 'bar']
bar
['foo']

In [199]:
a = ["foo", "bar"]

while len(a):
    print(a.pop(0))  # jalan 1; jalan 1.2

    b = ["baz", "qux"]  # jalan 2; jalan 2.2

    while len(b):  # jalan 3.1; jalan 3.2
        print(">", b.pop(0))  # jalan 3.1.1; # jalan 3.1.2; jalan 3.2.1; jalan 3.2.2
    else:
        print("> inner loop selesai")

else:
    print("outer loop selesai")

foo
> baz
> qux
> inner loop selesai
bar
> baz
> qux
> inner loop selesai
outer loop selesai

In [201]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

## For loop

In [203]:
["foo", "bar"]

['foo', 'bar']

In [204]:
("foo", "bar")

('foo', 'bar')

In [205]:
[0, 1, 2, 3, 4]

[0, 1, 2, 3, 4]

In [207]:
for i in [0, 1, 2, 3, 4]:
    print(i)

0
1
2
3
4

In [215]:
for i in range(5):
    print(i)

0
1
2
3
4

In [216]:
for i in ["foo", "bar"]:
    print(i)

foo
bar

In [217]:
for i in ("foo", "bar"):
    print(i)

foo
bar

In [218]:
for i in {"foo", "bar"}:
    print(i)

bar
foo

In [236]:
d = {"foo": 1, "bar": 2, "baz": 3}

for k in d:
    print(k)

print("=" * 8)

for k in d.keys():
    print(k)

print("=" * 8)

for v in d.values():
    print(v)

print("=" * 8)

for i in d.items():
    print(i)

print("=" * 8)

for k, v in d.items():
    print(v, k)

foo
bar
baz
========
foo
bar
baz
========
1
2
3
========
('foo', 1)
('bar', 2)
('baz', 3)
========
1 foo
2 bar
3 baz

foo
bar
baz

### Range

range(start, stop, step)

In [237]:
range(5)

range(0, 5)

In [238]:
range(10)

range(0, 10)

In [240]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [239]:
range(10, 2)

range(10, 2)

In [243]:
list(range(10, 2))

[]

In [247]:
range(0, 10, 2)

range(0, 10, 2)

In [248]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [249]:
range(10, 2, -1)

range(10, 2, -1)

In [250]:
list(range(10, 2, -1))

[10, 9, 8, 7, 6, 5, 4, 3]

In [254]:
for i in range(15, 0, -3):
    print(i)

15
12
9
6
3

In [255]:
for i in "range":
    print(i)

r
a
n
g
e

In [256]:
"range"[0]

'r'

In [258]:
for i in ["foo", "bar", "baz", "qux"]:
    if "b" in i:
        break
    print(i)

foo

In [259]:
for i in ["foo", "bar", "baz", "qux"]:
    if "b" in i:
        continue
    print(i)

foo
qux

In [260]:
for i in ["foo", "bar", "baz", "qux"]:
    print(i)
else:
    print("loop selesai")

foo
bar
baz
qux
loop selesai

In [261]:
for i in ["foo", "bar", "baz", "qux"]:
    if "b" in i:
        break
    print(i)
else:
    print("loop selesai")

foo

In [262]:
for i in ["foo", "bar", "baz", "qux"]:
    if "b" in i:
        continue
    print(i)
else:
    print("loop selesai")

foo
qux
loop selesai

In [305]:
while True:
    temp = input("Input temperatur yang ingin dikonversi, eg. 45F, 120C: ")
    degree = int(temp[:-1])
    i_convertion = temp[-1].upper()

    if i_convertion == "C":
        o_convertion = "F"
        result_calc = int(round((9 * degree) / 5 + 32))
        break
    elif i_convertion == "F":
        o_convertion = "C"
        result_calc = int(round((degree - 32) * 5 / 9))
        break
    else:
        print("Masukkan input yang benar")

result = f"{result_calc}{o_convertion}"

print("Temperaturnya adalah", result)

Temperaturnya adalah 7C

In [306]:
while True:
    msg = input("Ketikkan karakter: ").lower()
    print(msg)
    if msg == "stop":
        break

makan
berhenti
aresntaoier
snotaei
st0p
stop